@font-face {
  font-family: 'Reaver';
  src: url('../assets/fonts/Reaver-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Radiance';
  src: url('../assets/fonts/Radiance-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} 